:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-02);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
	background-color: var(--background);
	color: var(--foreground);
	border-radius: 0.25rem;
	border-width: 1px;
	border-color: var(--color-08);
	border-style: solid;
	box-shadow: none;
	outline: none;
	padding: 0.5rem;
}

.setting-page { 
	display: flex;
	justify-content: center;
	height: 100%;
	position: relative;
	padding: 1rem;
	height: calc(100vh - 2rem);
}

.setting-page-content {
	max-width: 100ch;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
